*{
    margin: 0;
    padding: 0;
}
.wrapper{
    height: 10vh;
    width: 100%;
    background-color: darkorchid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
}
#clock{
    width: 280px;
    height: 280px;
    background-color: brown;
    border: 18px solid chocolate;
    border-radius: 50%;
    margin: 20px auto;
    position: relative;

}